---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="about">
  <h1 class="font-title col-span-1 md:col-span-3 text-justify mb-2">about me</h1>

  <p class="col-span-5 lg:col-span-3 lg:col-start-2 col-start-2 mb-4 text-xl">
    I'm an artist from Argentina. I'm currently studying film direction at the
    University of Cinema of Buenos Aires (UCINE). I love painting, drawing, and
    creating digital art: I enjoy exploring new technologies and experimenting
    with different mediums, I'm always looking for new ways to express myself
    and push the boundaries of what's possible with different tools. to me a
    computer cursor is the same as a paintbrush. kinda.
  </p>

  <img
    src="/face_photo.png"
    alt="pedro machado face picture"
    class="col-span-3 xl:col-span-1 md:col-start-5 col-start-2"
  />

  <ul class="col-start-5 col-span-2 overflow-hidden space-y-4 mt-2">
    <li>@pdromchado_</li>
    <li>(+54) 2262 65 0401</li>
  </ul>
  <img
    src="https://cataas.com/cat/gif"
    alt="a gif of a cat"
    class="md:col-start-2 col-span-2 mt-2"
    height="300"
    width="300"
  />
</MainLayout>
