---
import Gallery from "../../components/Gallery.vue";
import MainLayout from "../../layouts/MainLayout.astro";
//@ts-ignore
import { sanityClient } from 'sanity:client'

// Fetch data before rendering
const allRenders = await sanityClient.fetch(`
  *[_type  == "renderType"] {
    _id,
    title,
    "imageUrl": image.asset->url,
    "width": image.asset->metadata.dimensions.width,
    "height": image.asset->metadata.dimensions.height
  }
`);
---

<MainLayout title="gallery">
  <h1 class="font-title col-span-2 main-col">The Gallery of Galleries</h1>
  <p class="col-span-3 lg:col-start-5 mb-12">
    you can find all my personal work here. enjoy.
  </p>
  <div class="col-span-6 text-base">
    <!-- Keep client:only directive since we're using browser APIs -->
    <Gallery items={allRenders} client:only />
  </div>
</MainLayout>
