@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap");
@import "tailwindcss";

:root {
  font-family: "Arial Narrow", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  ::-webkit-scrollbar {
    display: none;
  }

  color: black;

  font-synthesis: none;

  --nav-height: 4rem;
}

@theme {
  --font-title: "Xanh Mono", monospace;
  --color-muted: #999;
  --animate-text: textColor 10s linear infinite;
  --animate-crazy-color: crazy-color 5s linear infinite;

  @keyframes textColor {
    0% {
      color: rgb(255, 0, 10); /* Red */
    }
    25% {
      color: rgb(180, 100, 0); /* Green */
    }
    50% {
      color: rgb(80, 10, 255); /* Blue */
    }
    75% {
      color: rgb(255, 60, 10); /* Yellow */
    }
    100% {
      color: rgb(255, 0, 10); /* Magenta */
    }
  }

  @keyframes crazy-color {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}

.layout {
  @apply grid grid-cols-6 col-span-6;

  .main-col {
    @apply col-start-2;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  line-height: 1rem;
}

canvas {
  position: absolute;
  z-index: -10;
}

button {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

li {
  &:hover {
    color: black;
  }
}

ul {
  li {
    ul {
      padding-left: 1rem;
      li {
        position: "relative";

        &::before {
          position: absolute;

          left: 0.25rem;
          content: "⌙";
        }
      }
    }
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 9px;
  width: 60px;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 26% 3px;
  animation: l5 1s infinite;
}
@keyframes l5 {
  0%,
  70%,
  100% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  12.5% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  25% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  37.5% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0,
      calc(3 * 100% / 3) 50%;
  }
  50%,
  60% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0,
      calc(3 * 100% / 3) 100%;
  }
}
