---
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout title="pedro machado: portfolio">
<!-- <div id="loading-screen" class="fixed inset-0 bg-white z-50 flex items-center justify-center">
  <div class="loader"></div>
</div> -->
  <section class="layout mt-12">
  <p class="animate-text  col-span-4  text-6xl font-title italic" >
    Media artist from Argentina
  </p>
  <img
    src="/face_photo.png"
    alt="a picture of pedro machado"
    class="col-span-2 col-start-5 xl:col-span-1"
  />
  <ul class="col-start-5 overflow-hidden space-y-3 text-black col-span-2 md:col-span-1 md:col-start-5  text-sm p-3">
    <li><a href="https://instagram.com/pdromchado_" target="_blank">@pdromchado_</a></li>
  </ul>

  </section>


  <section class="layout mt-12 ">

    <p class="col-span-4 lg:col-span-3 lg:col-start-2 col-start-2 mb-4 text-xl">
     I'm currently studying film direction at the
      University of Cinema of Buenos Aires (UCINE). I love painting, drawing, and
      creating digital art: I enjoy exploring new technologies and experimenting
      with different mediums, I'm always looking for new ways to express myself
      and push the boundaries of what's possible with different tools. to me a
      computer cursor is the same as a paintbrush. kinda.
    </p>
    </section>

</MainLayout>
