<nav class="layout" x-data="{ show: false }">
  <ul @click="show = false" x-bind:class="!show || 'h-[var(--nav-height)] border-b pt-3'" class="bg-white h-0 overflow-hidden transition-all text-black grid grid-cols-6 text-base col-span-6 mb-3">
    <a href="/" class="col-start-4">home</a>
    <a href="/gallery">gallery</a>
    <a href="/cv.pdf" target="_blank">cv</a>
  </ul>
  <a id="title" href="/" class="text-6xl drop-shadow-[1px_1px_0_white] font-title mix-blend-color-burn cursor-pointer mt-auto no-underline">
    pedro machado
  </a>
  <button class="text-left col-start-5 mb-auto" @click="show = !show" :class="!show || 'text-red-600'" x-text="show ? 'close' : 'menu'"></button>

  <a class="underline text-sm nav-link" href="mailto:hola@pedromachado.net">contact</a>
</nav>
