---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { title } = Astro.props;

---

<script>
  import Alpine from "alpinejs";
  import collapse from "@alpinejs/collapse";
  import barba from "@barba/core";
  import gsap from 'gsap';

  import "../scripts/sketch.js"

  Alpine.plugin(collapse);
  Alpine.start();

  barba.init({
    transitions: [
      {
        name: "opacity-transition",
        leave(data) {
          return gsap.to(data.current.container, { opacity: 0 });
        },
        enter(data) {
          return gsap.from(data.next.container, { opacity: 0, y: 20 });
        },

      },
    ],

  });
  barba.hooks.after(() => {
    if (window.location.pathname.includes("/gallery")) {
      window.location.reload();
    }
  });

</script>



<html lang="en">
  <head>
<script  is:inline src="/src/scripts/p5.js"></script>
<script  is:inline src="/src/scripts/sketch.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="/face_photo.png" />
    <title>
      {title === "pedro machado: portfolio" ? title : title + " | pm"}
    </title>
    <meta property="twitter:image" content="/face_photo.png">
    <meta property="description" content="you can browse this web i made with blood sweat and tears to see what i can do, and maybe even hire me to do something for you, or just say hi." />

   <meta property="og:description" content="you can browse this web i made with blood sweat and tears to see what i can do, and maybe even hire me to do something for you, or just say hi." />
    <meta property="og:image" content="/face_photo.png">
    <meta property="og:site_name" content="Pedro machado portfolio">
    <meta property="og:title" content="pedro machado">
  </head>
  <body data-barba="wrapper" class="relative">
    <header class="sticky layout top-0 z-50 px-3 bg-white min-h-[var(--nav-height)]">
      <Navbar />
    </header>
    <main class="px-3 layout absolute w-full left-0" data-barba="container" data-barba-namespace={{title}}>
      <span class="h-[var(--nav-height)] col-span-full"></span>
      <slot  />
      <span class="h-[var(--nav-height)] col-span-full"></span>

    </main>
  </body>
</html>
