---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";


const { title } = Astro.props;

---

<script>
  import Alpine from "alpinejs";
  import collapse from "@alpinejs/collapse";
  import barba from "@barba/core";
  import gsap from 'gsap';

  Alpine.plugin(collapse);
  Alpine.start();

  barba.init({
    transitions: [
      {
        // Run on the very first page load
        once(data) {
          window.scrollTo(0, 0);

          const tl = gsap.timeline();
          tl
            .from('body', { opacity: 0, scale: 0.9, duration: 1, delay: 0.2 });

        },
        // Animate leaving page
        leave(data) {
          return gsap.to(data.current.container, { opacity: 0 });
        },
        // Animate entering page and reinitialize p5 scripts
        enter(data) {
          gsap.from(data.next.container, { opacity: 0, y: 20 });
        }
      }
    ]
  });

</script>



<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="/face_photo.png" />
    <title>
      {title === "pedro machado: portfolio" ? title : title + " | pm"}
    </title>
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="/face_photo.png">
    <meta property="description" content="you can browse this web i made with blood sweat and tears to see what i can do, and maybe even hire me to do something for you, or just say hi." />

   <meta property="og:description" content="you can browse this web i made with blood sweat and tears to see what i can do, and maybe even hire me to do something for you, or just say hi." />
    <meta property="og:image" content="/face_photo.png">
    <meta property="og:site_name" content="Pedro machado portfolio">
    <meta property="og:title" content="pedro machado">
  </head>
  <body data-barba="wrapper" class="relative">
    <header class="sticky layout top-0 z-50 px-3 min-h-[var(--nav-height)]">
      <Navbar />
    </header>
    <main class="px-3 layout absolute w-full left-0" data-barba="container" data-barba-namespace={{title}}>
    <script is:inline src="/p5.js"></script>
    <script is:inline src="/sketch.js"></script>
      <span class="h-[var(--nav-height)] col-span-full"></span>
      <slot  />
      <span class="h-[var(--nav-height)] col-span-full"></span>
    <footer class="layout mt-6 ">
        <a href="https://wa.me/542262650401" class="invert animate-crazy-color col-span-2 md:col-span-1 md:col-start-2" target="_blank"> <img src="/QR.jpeg"  alt="whatsapp qr to send a message to pedro machado"></a>

        <p class="col-span-2  col-start-5 mt-3 text-wrap truncate">
        <a href="https://www.instagram.com/pdromchado_" target="_blank"> @pdromchado_ </a> <br> <br>
        <a href="mailto:pedromachadofulcheri@gmail.com" class="text-wrap col-span-2"> pedromachadofulcheri@gmail.com </a>
        </p>
        <p class="col-span-6 my-6 text-center text-xs">pedro machado @ 2025</p>
    </footer>
    </main>
  </body>
</html>
